<html>
{% block title %}{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
{% block body %}
<style>
    body{
        background: url('../Image/Background-shoe-shop.jpg');
    }
    .container-fluid{
        margin-top: 300px;
    }
    table{
        background-color: white;
    }
</style>

<body>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pro in profile %}
                    <tr>
                        <td>{{pro.username}}</td>
                        <td>{{pro.Fullname}}</td>
                        <td>{{pro.Email}}</td>
                        <td>{{pro.Gender}}</td>
                        <td>{{pro.Birthday|date('y-m-d')}}</td>
                        <td>{{pro.Address}}</td>
                        <td><a href="{{path ('password')}}">Update Password</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
</html>
