<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="icon" href="./Image/ShoeIcon.ico" type="image/x-icon"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./Base.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-default" id="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" 
                        data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path ('home_page')}}"><img src="./Image/DHC.jpg"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="{{path ('home_page')}}">Home</a></li>
                            <li><a href="{{path ('about_page')}}">About us</a></li>
                            <li><a href="{{path ('product_page')}}">Product</a></li>
                            <li><a href="{{path ('lover_page')}}">Lover <i class="bi bi-heart-fill"></i></a></li>
                            <li><a href="{{path ('cart_page')}}">Cart <i class="bi bi-cart-check-fill"></i></a></li>
                         </ul>

                        
                        <ul class="nav navbar-nav navbar-right">

                            {% if app.user %}

                               <li><a href=""> You are logged in as {{ app.user.userIdentifier }} </a></li>
                                <li><a href="{{path ('app_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>

                            {% else  %}

                                <li><a href="{{path ('app_login')}}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                                <li><a href="{{path ('app_signup')}}"><span class="glyphicon gluphicon-sign-up"></span> Sign up</a></li>

                            {% endif %}

                            
                        </ul> 
                    </div>
            </nav>
        {% endblock %}


        <main>
        {% block body %}{% endblock %}
        </main>


         {% block footer %}
            <footer class="footer">
                <div>
                    &copy; Copyright: 27-6-2022<br>
                    Shoe Store Online., HD-Vietnam Branch<br>
                    Address: P8 - Dinh Tien Hoang - TP Vinh Long<br>
                    Tel: 0931927908<br>
                    Facebook: <a href="https://www.facebook.com/Shop-Shoe-112031947102844j"><button><i class="bi bi-facebook"></i></button></a><br>
                    Created by: Do Huu Duy
                </div>
            </footer>
        {% endblock %}

         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
