<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {# <meta http-equiv="X-UA-Compatible" content="IE=edge"> #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="./Image/ShoeIcon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  {# <link rel="stylesheet" href="product.css"> #}
  {# <script src="product.js" defer></script> #}
  {# <script src="https://kit.fontawesome.com/df8e5c3257.js" crossorigin="anonymous"></script> #}
  <link rel="stylesheet" href="Style.css">
  
  <title>My Website</title>
</head>

<body>
    {% block header %}
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="{{path ('home_page')}}">
            {# <h1><span>D</span>HC <span>S</span>hop</h1> #}
            <img src="./Image/DHC.jpg" id="DHC" class="responsive">
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{{path ('home_page')}}" data-after="Home">Home <i class="bi bi-house-heart-fill"></i></a></li>
            <li><a href="{{path ('about_page')}}" data-after="Service">About <i class="bi bi-info-circle-fill"></i></a></li>
            <li><a href="{{path ('product_page')}}" data-after="Projects">Products <i class="fa-solid fa-socks"></i></a></li>
            <li><a href="{{path ('lover_page')}}" data-after="Projects">Lover <i class="bi bi-heart-fill"></i></a></li>
            <li><a href="{{path ('cart_page')}}" data-after="About">Cart <i class="bi bi-bag-heart-fill"></i></a></li>
            <li><a href="{{path ('cart_page')}}" data-after="About">Management <i class="bi bi-bag-heart-fill"></i></a></li>
            <li><a href="{{path ('app_login')}}" data-after="Contact">Login <i class="bi bi-box-arrow-in-right"></i></a></li>
            <li><a href="{{path ('app_signup')}}" data-after="Contact">Signup <i class="bi bi-box-arrow-left"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="./app.js"></script>
</body>
</section>
{% endblock %}

        <main>
        {% block body %}{% endblock %}
        </main>

        {# {% block footer %}
            <footer class="footer">
                <div>
                    &copy; Copyright: 27-6-2022<br>
                    Shoe Store Online., HD-Vietnam Branch<br>
                    Address: P8 - Dinh Tien Hoang - TP Vinh Long<br>
                    Tel: 0931927908<br>
                    Created by: Do Huu Duy
                </div>
            </footer>
        {% endblock %} #}
</html>

